{% extends 'base.html.twig' %}

{% block title %}Hello guest!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Hello guest! ✅</h1>

        <p>Veuillez entrer votre nom pour jouer au quiz.</p>
        <p>Vous pouvez partager une même session avec une autre
            personne. <br/> Pour cela, il faut vous connecter avec le même nom.</p>
        <p>Attention, comme plusieurs personnes partagent le même nom, si vous utilisez le même nom de joueur, vous
            partagerez la même session. N'hésitez donc pas à utiliser un pseudonyme.</p>

        {{ form(form) }}

        <hr>

        <p>
            <small>Il est évident qu'avec un tel système, il est possible de tricher, tout comme il est possible pour nous de savoir qui a sucombé à la tentation :)</small>
        </p>

        <hr/>
        <ul>
            <li>Last player: {{ last_player }}</li>
            <li>List of previous player on this device:
                <ul>
                    {% for item in players_list %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% if app.debug %}
                <li>Request method: {{ app.request.method }}</li>
                <li>Application Environment: {{ app.environment }}</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

